/* Tailwind CSS directives */
/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable at-rule-no-unknown */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f7fb;
}